.cena-top  h1, .cena-top section h2, .cena-top section h3 , .cena-top section h4 , .cena-top  #content a, .cena-top  #content-left a, section ul li   {
 /*  color: #85a327!important;*/
 }
.kat {
   background: #fcd2e1;
} 
form .kat {
   background: #fcd2e1!important;
} 
   


form .kat_clients {
  background: rgba(0, 174, 239, 0.2)!important;
}

form .kat_reporting {
  background: rgba(236, 129, 180, 0.4)!important;
}

form .kat_emplo {
  background: rgba(156, 152, 203, 0.4)!important;
}

form .kat_komunita {
  background: rgba(225, 129, 57, 0.4)!important;
}

form .kat_eko {
  background: rgba(169, 207, 56, 0.4)!important;
}

form {
  position: relative
}

#immerSend.Normal {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: block;
  background: #404040;
  z-index: 1000;
}

input.smallreg {
  margin-top: 0px;
  float: left;
  cursor: pointer;
}

#contactsubmit:hover {
  background: red!important;
}

#ChangeLabelDiv {
  background: #404040;
  font-size: 12px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#ChangeLabelDiv p {
  padding: 0 20px;
  color: white;
  display: block;
  float: left;
  background: #404040;
  line-height: 38px;
}

#ChangeLabelDiv.Normal p {
  line-height: 12px;
}
form .hibox_diverzita {
  background: rgba(156, 152, 203, 0.4)!important;
}