.kat {
    background: #d0eaf7;
}

form .kat {
    background: #d0eaf7!important;
}

label {
    font-size: 90%;
    width: 395px;
    clear: both;
    padding-top: 3px
}

.radiopadding {
    clear: both;
    padding-top: 4px;
}

h4 {
    font-weight: normal;
    font-size: 120%;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px dotted #c0c0c0;
}
.hlpme{
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px dotted #c0c0c0;   
    font-size: 12px;
}
.nope span {
    display: block;
    border-bottom: 1px dotted red;
    padding-bottom: 7px;
    margin-bottom: 7px
}

.advanced {
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 1px;
    border-right-width: 1px
}

.titleceeper h4 {
    margin-top: 5px;
}

.compact .titleceeper h4 {
    font-size: 100%;
}

.kat #contactsubmit {
    width: 158px!important;
}

form .kat.special {
    background: transparent!important;
    padding: 1em 0 0 0!important;
}

form .kat.notNext {
    margin-top: -15px!important;
}

form .kat.notNext h4 {
    font-size: 100%
}


/*form .kat_normal { background: */

form .kat_clients {
    background: rgba(225, 129, 57, 0.4)!important;
}

form .kat_reporting {
    background: #f1fbd3!important;
}

form .kat_emplo {
    background: rgba(156, 152, 203, 0.4)!important;
}

form .kat_komunita {
    background: rgba(225, 129, 57, 0.4)!important;
}

form .kat_eko {
    background: rgba(169, 207, 56, 0.4)!important;
}

form {
    position: relative
}

#immerSend.Normal {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: block;
    background: #404040;
    z-index: 1000;
}

input.smallreg {
    margin-top: 0px;
    float: left;
    cursor: pointer;
}

#contactsubmit:hover {
    background: red!important;
}

#ChangeLabelDiv {
    background: #404040;
    font-size: 12px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#ChangeLabelDiv p {
    padding: 0 20px;
    color: white;
    display: block;
    float: left;
    background: #404040;
    line-height: 38px;
}

#ChangeLabelDiv.Normal p {
    line-height: 12px;
}
