.cena-top  h1, .cena-top section h2, .cena-top section h3 , .cena-top section h4 , .cena-top  #content a, .cena-top  #content-left a, section ul li  {
   /*color: #f0742a!important;*/
 }
.kat {
   background: #f1fbd3;
} 
form .kat {
   background: #f1fbd3!important;
} 

/*
a.smallreg ,
input.smallreg{
 background: #f0742a  ;
  color: #fff;
 padding: 15px 30px;
 width: auto;
 border: none;
 margin-top: 5px;
  font-size: 16px;
} 
 .smallreg:hover{
  background:  #dd5c0f!important;
 }
 .cena-top  h3.warn { color: red!important }

*/
