 html, body {
     /*   overflow: hidden;
     height: 100%;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;*/
     margin: 0;
     padding: 0;
     background: #fff no-repeat center top;
 }
 
 body {
     border: 0px solid #fff
 }
 
 * {
     box-sizing: border-box;
 }
 
 #langs {
     display: none;
 }
 
 #wrapper {
     margin: 0;
     padding: 0 0 0px 0;
     margin: 0 auto;
     width: 1250px;
     background: #fff;
     position: relative;
 }
 
 #main {
     position: relative;
     width: 100%;
     box-sizing: border-box;
     -webkit-transform-style: inherit;
     transform-style: inherit;
 }
 
 #main {
     background: #fff;
     min-height: calc( 100vh - 466px);
     border-top: 0px solid white;
     width: 1250px;
     margin: 0 auto;
     clear: both;
     padding-bottom: 2em;
 }
 
 footer {
     background: #000;
     height: auto;
     color: #fff;
     border-top: 1px solid #000;
 }
 
 nav {
     background: #000;
     height: 165px;
     
     color: #fff;
     position: relative;
     margin: 0px auto 20px auto;
     border-top: 1px solid #000;
 }
 
  #mini-menu  {
    display: block;
    max-width: 100vw;
    padding: 10px;
    position: absolute;
    width: 100vw;
    left: -200%;
    top: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 25px solid #e7e7e7;
    margin-top: 0;
 
 }
 #mini-menu ul {
     max-width: 100%;
 }
