                                                                     
 @media screen and (max-width: 1380px) {  
 #logo {    left:  0%;  margin-left: 0px; }
  #logotop {    left:  100px;  margin-left: 0px; }
 #homeclaim, #menu1 { margin-lefT: 200px; }
 } 

 @media screen and (max-width: 1230px) {  
    section , footer div, #wrapper, nav { width: 100%; padding-left: 1%;  padding-right: 1%;   }
    #slideshow,   #main { width: 100%!important }

    nav > div {  width: 100%; }
    #content {
    width: calc(100% - 190px)!important;
    float: right;
}
 } 
 @media screen and (max-width: 1000px) {  

  #content .newsbox, article.brozury-a-vysledky  { width: 49%; margin-right: 2%!important; }  
  #content .newsbox:nth-of-type(3n + 0), #contentspan.downs:nth-of-type(3n + 0)  {  margin-right: 2%!important; }
  #content .newsbox:nth-of-type(2n + 2), article.brozury-a-vysledky:nth-of-type(2n + 2)  {  margin-right: 0%!important;   }  
  #menu ul {  margin: 10px 0 0 0; }
  #countdown, #homeSlider,  #menu{ height: 300px;  margin-bottom: 25px; }
  #countdown #numberof { font-size: 80px; padding-top: 70px; }
  } 

 @media screen and (max-width: 900px) {  
 
 } 
 @media screen and (max-width:800px) {   
   section  { margin: 10px;   width: calc(100% - 20px)!important; }
   section#content {padding:   0!important;}
   #countdown { display: none; }
   #menu  { width: 50%;  float: right}
   #homeclaim, #menu1 { margin-left: 50%; }
  #content .newsbox, article.brozury-a-vysledky { width: 100%; margin-right: 0%!important; }  
  #content .newsbox:nth-of-type(3n + 0), article.brozury-a-vysledky:nth-of-type(3n + 0)  {  margin-right: 0%!important; }
  #content .newsbox:nth-of-type(2n + 0), article.brozury-a-vysledky:nth-of-type(2n + 0)  {  margin-right: 0%!important; }  
  footer div div.tretina {
    width: 100%;
    clear: both;
    float: none;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .singlemenu { display: none!important; }
  section#content { width: 99%!important; padding : 0%!important; float: none; margin: 0!important }
  .cena-top #content-right {     margin-top: 0.5em!important; }
  #startmenu { display: block; }
 .sml { width: 100% }
  .sml th  { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  .sml tr { border: 1px solid #ccc; }
	
  table.sml td{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
    position: relative;
    width: 100%;
    padding-left: 50%!important; 
    display: block;
    line-height: 25px;
  }
  table.sml td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
  table.sml td:nth-of-type(1):before { content: "Kategorie podniku"; }
	table.sml td:nth-of-type(2):before { content: "Počet zaměstnanců "; }
	table.sml td:nth-of-type(3):before { content: "Roční obrat"; }
  table.sml td:nth-of-type(4):before { content: "Bilanční suma roční rozvahy "; }
  table.sml  tr:nth-of-type(even) { 
    background: rgb(212, 212, 212); 
  }  
  table.sml  tr:nth-of-type(odd) { 
    background: #eee; 
  }

.newmember {
    width: 100%!important;
    height: auto!important;
    clear: both!important;
    position: relative!important;
    top: auto!important;
}
  #gopartners2 {
    height: auto!important;
  }
  .microdata {
    position: relative!important;
    top: auto!important;
  }
 } 
  
 
   @media screen and (max-width: 500px) {  
    #homeclaim { width:  100%; margin-left: 1%; margin-top: 150px; floaT: none;}
    #menu1 { width:  100%; margin-left: 1%; margin-top:10px; floaT: none; }    
    nav, nav div {  height: auto;}
    nav {  padding-bottom: 20px;}
    #homeSlider { widtH: calc(100% + 120px); height: 90vw }
    #menu { width: 100%;  height: auto; }
    .topforms input {
      width: 80%!important;
  }
 } 
