#iconz{
 floaT: right;
 width: 587px;
  _width: 700px;
 height: 123px;
 background: url('../images/newicons.jpg') no-repeat left top;
 clear: right;
}
#iconz.en{
 floaT: right;
 width: 700px;
 height: 123px;
 background: url('../images/enicons.jpg') no-repeat left top;
 clear: right;
}
#iconz.new{
 floaT: right;
 width: 700px;

 height: 123px;
 background: url('../images/newicons.jpg') no-repeat left top;
 clear: right;
}
#minimenu{
 height: 62px;
 float: right;
 width: 400px;
}
#iconz a{
 display: block;
 height: 123px;
 float: right;
 width: 120px;
}
#iconz a.work{
background: url('../images/workico.jpg') no-repeat left top;
}
#iconz a.leader{
background: url('../images/leaderico.jpg') no-repeat left top;
}
#iconz a.green{
background: url('../images/greenico.jpg') no-repeat left top;
}
#iconz a.bench{
background: url('../images/benchico.jpg') no-repeat left top;
width: 103px;
}
#iconz a.comu{
background: url('../images/comuico.jpg') no-repeat left top;
}
#iconz a.market{
background:  url('../images/marketico.jpg') no-repeat -13px top;
width: 103px;
}
#iconz a:hover{
 background: transparent;
}
.whitearound {
	float: left;
	width: 383px;
  _width: 383px;
 
	background: url('../images/boxshadow.png') no-repeat left bottom;
	    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='./images/boxshadow.png');
	padding: 0 1px 2px 1px;
}
.white{
 	width: 383px;
	background: #fff;
	  _width: 383px;
}
.white h2 {
	float: left;
	padding: 10px 0 10px 15px;
	border-bottom: 1px solid #72C046;
	margin-bottom: 10px;
}
.white h2 a, h2 a.inhomebox { 
  text-decoration: none;
  color: #72C046;
}
.white h2.colored
{
 color: #72C046;
 	border-bottom: 1px solid #72C046;
}
.inreg{
 clear: left;
 margin: 0px 15px;
}


#text, #sidebox{
 background: #fff url('../images/strip.gif') repeat-x left top;
}
.member{
 clear: left;
 
 margin-bottom: 0.5em;
 border-bottom: 1px solid #EAEFF2;
}
.membershow{
 float: right;
 padding: 0;
 margin: -10px 0 0 0;
 
}
ul.mambers{
 margin-left: 0;
 padding-left: 0;
}
ul.mambers li{
 display: block;
 width: 37%;
 float: left;
 padding-left: 40px!important;
 margin-bottom: 2em;
 margin-left: 0;
 margin-right: 1em;
 background: url('../images/smallogo.jpg') no-repeat left top;
}
.clrleft{
 clear: left;
}
 
#homearts h2, #homeadds h2, #homecsr h2, #menubox h2{
 font-sizE: 115%;
  margin-bottom: 0.5em; 
}
 #menubox h2{
  padding-left: 20px;
 }
#homecsr a{
 background: url('../images/csr.jpg') no-repeat left top;
 width: 178px;
 height: 94px;
 display: block;
 position: relative;
  text-decoration: none;
  margin: 1px 3px 3px 3px;
}
#homecsr h2{
 position: absolute;
 left: 5px;
 bottom: 5px;
 text-decoration: none;
}
#homearts   img{
 float: right;
 padding: 2px;
 border: 1px solid #e7e7e7;
 margin: 0 0 0.5em 0.1em; 
}
 
#minimenu  span, #minimenu  p.span {
	width: 25px;
	height: 12px;
	display: block;
	float: right;
	margin-top: 9px;
	overflow: hidden;
}
#minimenu  span em, #minimenu  span a {
	display: block;
	font-size: 10px;
	height: 12px;
	font-size: 9px;
	line-height: 12px;
	z-index: 1;
	cursor: pointer;
}
#minimenu  span a, #minimenu  span em.active {
	background:   url('../images/en.gif') no-repeat 8px 0px;
	z-index: 10;
	text-decoration: none;
}
#minimenu  span.cz a, #minimenu  span.cz em.active {
	background: #fff url('../images/cz.gif') no-repeat 8px 0px;
}
 #minimenu  span em.active, #minimenu  span.cz em.active  {
  cursor: default;
 }
.logaintext img{
 padding: 2px;
 border: 1px solid #e7e7e7;
 float: left;
 margin: 0 5px 5px 0;
}
.logaintext{
 border-bottom: 1px solid #e7e7e7;
 margin-bottom: 1em;
 padding-bottom: 1em;
}
#fannickname, #fanfanpass{
 width: 145px;
}
#minimenu span.find, #minimenu p.find {
 width: 200px;
 height: 30px;
 margin-top: 0;
}
#minimenu span.find .findinput, #minimenu p.find .findinput{
 width: 100px;
	background: #EAEFF2;
	border: 1px inset #AAA;
	margin: 0em 0;
	padding: 2px 5px; 
 font-size: 90%;
 
}
#minimenu span.find .findform, #minimenu p.find .findform{
 background: #72C046 url('../images/findme.jpg') repeat-x left top;
 margin:0;
 padding: 0;
 margin-top: 0.5em;
 width: 180px;
 text-align: left;
}
#minimenu span.find .button, #minimenu p.find .button{
 height: 21px;
 background: #72C046 url('../images/findme.jpg') repeat-x left top;
 border: none;
 font-size: 90%;
 color: #fff;
	margin: 0em 0px; 
 	width: 55px;
}
p.search{
 padding-bottom: 0.5em;
 margin-bottom: 0.5em;
 border-bottom: 1px solid #EAEFF2 
}
.findform fieldset{
 margin: 0;
 padding: 0;
 border: none;
}
a.noborder img{
 border: none;
 float: right;
}
#mainhomeboxin img{
 z-index: 200
}
.miniboxline{
 padding-bottom: 0.5em;
 margin-bottom: 0.5em;
 border-bottom: 1px solid #E1E6E9
}
#logoSOF{
 width: 137px;
 height: 82px;
 
 display: block;
 position: absolute;
 lefT: 230px;
 top: 65px;
 background: url('../images/logosof2.png') no-repeat left top;
	    _background: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='./images/logosof2.png'); 
 
}
.rightshort{
 float: right;
 width: 137px;
 }
 .rightlong{
 float: right;
 width: 283px;
 
 }
.smally {
 font-size: 80%;
}
.yafter{
 float: right;
 width: 190px;
}
.smallaktu{
 float: left;
 margin-right: 10px;
 
 border: 1px solid #e7e7e7;
 padding: 2px;
}
.minidate{
 font-size: 9px;
 padding-right: 10px;
}
 
.smallboxik {
 margin-top: 5px;
 height: 40px;
}
#sidebox .whitebox a img{ border: none; }
a.smallreg{
 
  margin-top: 80px;
}
a.lbgreg{
 margin-left: 0px!important;
 background: #960B0E url("../images/lbg_smallreg.jpg") left top!important;
 }

#content #sidebox #homeaddssidebox img{
 border: none;
 margin: 0;
 float: left;
}

#content #sidebox #homeaddssidebox  a.lbgreg {
 display: block;
 clear: left;
 border-top: 15px solid #fff;
 margin: 0 0 20px 0;
}

.reg  fieldset {
  margin-bottom: 10px;
  border: none;
  border-top: 3px solid #D9DEE2!important;
  clear: left;
  background: url(../images/fieldset.jpg) left bottom repeat-x;
  width: 450px;
  margin-lefT: 0px;
  padding: 0 5px;

}
.reg  label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
.reg  fieldset ol {
  margin: 5px 0 0 0;
  padding: 0;
}
#content .reg  fieldset li {
  list-style: none;
  padding: 0px;
  margin: 0;
	padding: 3px 0px 3px 0;
	background: url(../images/divider.gif) left bottom repeat-x;
	line-height: 29px;
	height: 29;
	min-height: 29px;
}
.reg  fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
.reg  fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;

}
#content .reg  fieldset fieldset label {
  display: block;
  width: auto;
  font-size: 90%!important;

}
.reg  em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
.reg fieldset ol li input, .reg fieldset ol li select{
 floaT: right;
 margin-right: 0px;
width: 180px;
}
.reg fieldset ol li select{
 padding-left: 5px;
}
.reg  label {
  width: 60px;

}
.reg  label.short {
  width: 115px;
}
.reg  label.long {
  width: 220px;
}
.reg  fieldset fieldset label, .reg  fieldset fieldset label.short {
  margin-left: 118px;
}
.reg textarea{
 width: 420px;
 max-width: 420px;
 height: 100px;
 margin-left: 3px;
}
#required, #norequired {
  display: none;
  margin-bottom: 0px;
	border: none;
  font-size: 80%;
	padding-bottom: 5px;
	border-top: 3px solid #E83120!important;
	border-bottom: 1px solid #E83120!important;
	background:  #fbf1e3 url(../images/req.jpg) left bottom repeat-x;
  width:450px;
    margin-lefT: 0px;
}
#norequired {
  display: block;
  margin-bottom: 1em;
}
#requiredtext, #norequiredtext{
margin-left: 0px!important;
}
#regbutton{
margin-left: 0px!important;
}
#content .reg fieldset span{
  font-size: 80%;
  line-height: 1em;
  display: block;
}
.reg fieldset ol li input.long{

 width: 225px;
 max-width: 225px;
 float: right
}


.topforms input.kilo{
 width: 135px!important;
}
.titleceeper {
    position: relative;
   /* width: 430px;*/
}
.register .titleceeper {
    position: relative;
    width: 300px;
}
#loginform  .titleceeper {
    position: relative;
    width: 157px;
}
#ctn2 .titleceeper {
    position: relative;
    width: 350px;
}
.titleceeperl {
     position: relative;
    width: 450px; 
}
.titleceeperauto {
     position: relative;
    width: auto; 
}
.kat .titleceeperauto label {
  width: auto;
}
.radiopadding .titleceeper {
   width: 100%;
}
.radiopadding + .titleceeper h4 { padding-top:1em }
.topforms .kat{
  display: block;
 
  border-top-width: 5px;
  padding: 1em;
 margin-top: 1em;
}
.topforms .nope, .nope, .warn{
  border: 1px solid red;
  border-top-width: 5px;
  background: #f6dadf;
  padding: 1em;
  margin-top: 1em;
}
.warn{
 color: red;
}
.topforms .jop, .jop{
  border: 1px solid #008000;
  border-top-width: 5px;
  background: #d9f7d9!important;
  padding: 1em;
  margin-top: 1em;
}
.topforms h3{
 margin-top: 0;
}
input.topr{
 width: 157px;
}
.kat textarea{
overflow: auto;
width: 100%;
height: 200px;
}
.kat input{
width: 430px;
}
.kat input.topshort{
 width: 250px!important;
}
.topforms input{
 width: 300px!important;
}
.topforms input.none, .kat input.none,  .kat .radiopadding  input {
 width: 2em!important;
} 
.topforms select {
    width: 300px!important;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.find {
 display: none;
}
#bpsurl{
 display: block;
 width: 170px;
 height: 60px;
 border: 0px solid red;
 position: absolute;
 left: 30px;
 top: 0;
} 
.miniboxxx {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #e7e7e7
}

.smlr {
 font-size: 90%;
}
.smlr em{
 font-size: 80%;
}
.smlr .hibox_komunita,
.smlr .hibox_leader,
.smlr .hibox_green,
.smlr .hibox_work,
.smlr .hibox_special {
  padding-bottom: 10px;
} 
 