body { font-size: 12px; }
#middl{  font-size: 15px; }
.hodn {
  position: absolute;
  width: 600px;
right: -610px;
  top: 0;
  height: auto;
  max-height: 100px;
  background: #fefbe0;
  box-sizing: border-box;
}
.hodnocenisend {
    margin-left: 480px;
    width: 600px;
    background: #fefbe0;
    padding-left: 20px;
    box-sizing: border-box;
}
.hideadv {
  display: none;
}
.auto {
  position: absolute;
  width: 350px;
  right: -360px;
  top: 10px;         
  height: auto;
  max-height: 100px;
  padding-left: 20px; 
  box-sizing: border-box;
  display: block;
  opacity: 1;  
}     
.autonext   {
   position: absolute;
  width: 350px;
  right: -360px;
  top: 10px;         
  height: auto;
  max-height: 100px;
  padding-left: 20px; 
  box-sizing: border-box;
  display: block;
}
<?php
    
    if($_REQUEST['body'] == 1) {
      ?>
.auto {
  opacity: 1;  
}   
      <?php
    }
    
?>

.extra, .infotext{
   background: #fff8b7;
  width: 835px;
  padding: 10px;
  font-style: normal;
  margin: 20px  0 40px 0;   
  height: auto;

  padding-left: 20px; 
  box-sizing: border-box; 
}
.extra {
    background: #fff8b7;
    width: 1080px;
    padding: 10px;
        padding-left: 10px;
    font-style: normal;
    margin: 10px 0 0px 0;
    height: auto;
    padding-left: 20px;
    box-sizing: border-box;
}
.extra .hodnbox {                                                    
 margin-bottom: 0px;''
}
.extra .hodnbox textarea {
 width: 95%;
 min-width: 500px;
}
.man {
  position: absolute;
  width: 600px;
  right: -600px;                                      
  top: 10px;          
  height: auto;
  max-height: 100px;
  padding-left: 20px; 
  box-sizing: border-box;
}
a {
  color: #404040!important;
}      
h1 {
 padding: 5px ;
}     
h1 a, #menu a{
  color: white!important;
}                
.first {
  margin-top: 50px;
}
.move {
  margin-top: 155px;
}
section b{
 display: block;
 padding: 0 15px 15px 0;
}
<?php
      if ($_GET['nr'] == 2)
{
?>
.hodajdi10, .hodajdi35, .hodajdi40 {  margin-top: 75px;  }                           
.sectionorder2 {  margin-top: 250px;  }    
.sectionorder3 {  margin-top: 410px;  }    
.sectionorder4 {  margin-top: 570px;  }   
.sectionorder5 {  margin-top: 730px;  }   
.hodajdi71 { margin-top: 5px;  }
.hodajdi77 { margin-top: 2525px;  }
<?php
}else{
?>
.sectionorder2 {  margin-top: 225px;  }                           
.sectionorder3 {  margin-top: 380px;  }    
.sectionorder4 {  margin-top: 530px;  }    
.sectionorder5 {  margin-top: 680px;  }   
<?php
}
?>

       
/*
.sectionorderjump1 {  margin-top: 150px;  } 
.sectionorderjump2 {  margin-top: 270px;  }                           
.sectionorderjump3 {  margin-top: 420px;  }    
.sectionorderjump4 {  margin-top: 570px;  }    
.sectionorderjump5 {  margin-top: 720px;  }      
*/
                                         
.auto span, .man span.sman, .autonext span  {
  background: #fff8b7;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
  width: 50px;                                       
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
.auto p, .man p, autonext p{
  line-height: 50px;   
    font-weight: bold;
}
.auto p {
   margin-top: 25%;
}

.auto i, .autonext i {
  font-style: normal;
  line-height: 1em;
  height: 50px;
  vertical-align: middle;
  display: table-cell;
  padding: 0 10px;
}
p.hodnbox{
  line-height: 1em;
}
.man p span.sman {
  background-image: url('./images/man.png') ;
  background-position:  center center;
  background-repeat: no-repeat;
  line-height: 50px;  
}                                                                      
.auto p span.nxt , .autonext  p span.nxt       {
  background-image: url('./images/nxt.png') ;
  background-position:  center center;
  background-repeat: no-repeat;
  line-height: 50px;    
}                                                    
.vaha {
  float:left;
  color: #c0c0c0;
  color: red;
  font-size: 150%;
  font-weight: bold;
  display: block;   
}    
.vaha:before { content : '' }
.kat .kat {
 width: 420px;
}     
.kat .kat label {
  width: 400px;
}
.kat .kat textarea {
  width: 410px;
}
.kat .hodn p {
  background: #fff8b7;
    padding: 20px;
}
label { font-size: 90%;  floaT: right; width: 420px; clear: both; padding-top: 0px; line-height: 1em;}
.radiopadding { clear: both; padding-top: 4px; }
h4 { font-weight: normal; font-size: 120%; padding-bottom: 3px; margin-bottom: 3px; border-bottom: 1px dotted #c0c0c0; }
.nope span  { display: block; border-bottom: 1px dotted red; padding-bottom: 7px; margin-bottom:7px }
.advanced { border-top-width: 5px ; border-bottom-width: 5px; border-left-width:1px; border-right-width: 1px  }
  .kat { width: 450px; position: relative; padding: 10px; background: #efefef; margin-bottom: 10px;}
  .hclass{  min-height: 230px; }
  .titleceeper h4 { margin-top: 5px; }
 span a:hover { color: red!important;} 
 .compact .titleceeper h4 { font-size: 100%; } 
 .kat #contactsubmit {width : 158px!important;}
 .titleceeper h4.compact  { font-size: 100%; } 
  textarea { width: 430px; }
}

.newst section.man {  
  margin-right: -370px;
}
.newst  .hodnbox textarea {
  width: 280px;
  height: 80px;
}
section.extra p b {
 font-size: 120%; 
}
.helper {
  position: relative;
  min-height: 10px;

}
.helper:after{
  content: '?';
  width: 30px;
  height: 30px;
  background: #839098;
  color: #fff;
  position: absolute;
  right: 0;
  top: -10px;
  display: block;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.helper:hover .jumper {
    display: block;
}
.jumper {
    z-index: 800;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    padding: 10px;
    background: #839098;
    border-radius: 2px;
    -webkit-filter: drop-shadow(2px 2px 2px #E0E0E0);
    filter: drop-shadow(2px 2px 2px #E0E0E0);
    display: none;
    top: 25px;
    left: -5px;
    text-align: left;
    font-size: 80%;
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY (-100%);
    width: 400px;
}
.jumper ul li span {
  
  color: white;
  width: 100%;
  height: auto;
  clear: left;
  max-height: auto;
  float: none
}
.jumpoer ul li {
  margin-left: 0;
  height: auto;
  max-height: auto;
}
.jumper:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #839098;
    display: block;
    width: 0;
    z-index: 1;
    right: -14px;
    bottom: 4px;

}
.noNEXT {
  margin-top: -20px;
}
.smaller span {
  width: 2em;
}
section .nadpis {
  background: red;
}

.cl1.hclass   {
 
     min-height: 300px;
 
}