body {
	FONT-FAMILY: Verdana, Arial CE, Arial, Verdana CE, Helvetica, sans-serif;
	background-color: #E1DFDF;
	COLOR: black;
	TEXT-ALIGN: center;
	FONT-SIZE: 70.1%;
	margin: 0px auto 0px auto;
	padding: 0.5em;
}
.ppAutoValue {
	display: inline;
	float: none;
}
fieldset {
	FONT-FAMILY: Tahoma, Arial CE, Arial, Verdana CE, Helvetica, sans-serif;
	width: 820px;
	padding: 2em;
	border: 1px solid #fff;
	background: #E5EFFD url('../images/fstbgr.jpg') repeat-x left top;
	border-top : 1px solid #00ACEE;
 margin:  1em 0 3em 0;
 position: relative;
 display: block;
}
#photo img{
  max-width: 250px;
  border: 5px solid #d9e7fb;
}
 h5{
	background: #d9e7fb;
  _background: red;
	border-top: 1px solid #00ACEE;
	padding: 0 1em;
	line-height: 1.5em;
	font-size: 120%;
	width: 13em;
 position: absolute;
 top: -3.2em;
 .top: -1.5em;
 left: -1.7em;
 .left: 0px;
 margin: 0;
}
 
label {
	display: block;
	width: 7em;
	float: left;
	line-height: 2em;
	clear: left;
}
span.lh2{
	line-height: 1.5em;
	padding-top: 0.5em;
}
#top {
	height: 52px;
	text-align: left;
	padding: 0;
	color: #fff;
	background: #fff;
	background: transparent url('../pictures/spodek.gif') repeat-x left bottom;
	border: 1px solid #C2DEE9;
	border-bottom-width: 0px;
	font-weight: bold;
	font-size: 120%;
	letter-spacing: 2px;
}
#top img {
	margin-top: 3px;
}
#top div {
	float: right;
	background: transparent url('../pictures/artbox.jpg') no-repeat right bottom;
	height: 52px;
	width: 193px;
}
#middl {
	height: auto;
	_height: 350px;
	min-height: 350px;
	text-align: left;
	padding: 2em;
}
#menu {
	min-height: 2em;
	text-align: left;
	padding: 0.2em;
	color: #fff;
	background: #00ACEE;
	margin-top: 2px;
}
#down {
	height: 2em;
	text-align: left;
	padding: 0.2em;
	color: #fff;
	background: #00ACEE;
	border-bottom: 1px  solid black;
}
#menu a {
	#fff;
}
#down2 {
	height: auto;
	min-height: 2.5em;
	_height: 1.5em;
	line-height: 1.5em;
	text-align: left;
	color: #A9A7A7;
	background: #EAE8E9;
	padding-left: 5px;
}
#down2 a {
	color: #000;
}
#headfix {
	margin: 0 auto 0 auto;
	width: 95%;
	padding: 10px;
	border: 1px solid #c0c0c0;
	color: #000000;
	background: #fff none;
}
input {
	border: 1px solid #c0c0c0;
	background: #fff;
	margin: 0.1em;
}
fieldset input.radio {
	border: none;
	float: left;
	clear: left;
}
fieldset span.radio {
	display: block;
	line-height: 1.3em;
	width: 500px;
	margin-left: 5px;
}
input.long {
	width: 250px;
}
input.news {
	width: 225px;
}
h1 {
	background-color: #00ACEE;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
	padding: 0 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-bottom: 1px  solid black;
	letter-spacing: 2px;
	clear: both;
  line-height: 20px;
  height: 20px;
}
h1 a {
	color: #fff;
}
h1 b {
	font-size: 110%;
	font-style: italic;
}
textarea {
	border: 1px solid #c0c0c0;
	width: 600px;
       .width: 600px;
	padding: 2px;
	FONT-FAMILY: Arial CE, Verdana CE, Helvetica, sans-serif;
	COLOR: black;
	margin-right: 2px;
	margin-top: 0px;
	height: 400px;
}
#menu a {
	color: #fff;
	background-color: transparent;
	display: block;
	float: left;
	padding: 2px 0.5em 2px 0.5em;
	margin: 0;
	border: 0px solid white;
	height: 20px;
	line-height: 20px;
}
#menu a:hover, h1 a:hover {
	color: #000;
	background-color: #ffdf4e;
	text-decoration: none;
}

#menu a.none {
	color: black;
	background-color: transparent;
	display: block;
	float: left;
	padding: 2px 0.5em 2px 0.5em;
	margin: 0;
	border: 0px solid white;
	text-decoration: none;
}
#menu a:hover.none {
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
#menu ul{
 margin: 0;
 padding: 0;
 list-style-type: none;

 }
#menu ul li.topmenu{
  floaT: left;
  position: relative;
  margin: 0;
  padding: 0;
}
#menu ul ul{
 
 clear: left;
 margin-top: 0em;
 display: none;
 float: left;
 top:2.2em;
 left: 0;
 position: absolute;
 width: 600px;
}
#menu ul li ul li{
 float: left;
 background: #E5EFFD;
}
#menu ul ul a{ color: #00ACEE; display: block;}
}
h2 {
	background-color: #dedede;
	COLOR: #2F61A6;
	padding-left: 5px;
	margin-right: 3px;
	border-color: #2F61A6;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
h3 {
	COLOR: black;
	padding-left: 2px;
	margin-right: 3px;
	margin-bottom: 2em;
	font-size: 110%;
	border: 1px solid #c0c0c0;
	margin-top: 0.5em;
	background: #f5f5f5;
	padding: 0 1em 1em 1em;
}
input.button, a.button {
	border-color:  #000000;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	BACKGROUND-COLOR: #2F61A6;
	FONT-FAMILY: Arial CE, Verdana CE, Helvetica, sans-serif;
	COLOR: #fff;
	font-weight: bold;
	padding: 5px 2em;
	margin-top: 9px;
}
a.button
{
	text-decoration: none;
}
div span {
	display: block;
	float: left;
	width: 100px;
}
div h1 span {
	width: 4em;
	float: right;
	display: block;
}
div h1 span a {
	width: 4em;
	display: block;
	background: #43ccf5;
	line-height: 20px;
	margin: 0 2px;
	text-align: center;

}
textarea.admin {
	display: none;
	width: 0;
	height: 0;
	border: none;
}
a {
	color: black;
}
.prehled {
	width: 100%;
	border: 0px solid #C3DFEA;
	color: #000;
	border-bottom-width: 1px;
	clear: both;
  height: auto;
  min-height: 22px;
 
  line-height: 22px;

}
.prehled div {
	width: 90%;
  height: 22px;
  line-height: 22px;
}
.prehled div p{
 margin: 0 3px;
 padding: 0;
 line-height: 22px;
 float: left;
 display: block;
}
table {
	border: 1px solid #9496af;
	ccborder: 1px solid #C3DFEA;
	border-collapse: collapse;
	border-width: 1px;
	font-size: 12px;
}
th, td{
		border: 1px solid #C3DFEA;
		line-height: 2em;
		padding: 0 5px;
}
.center{
   text-align: center;
}
th{
	background: #00ACEE;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
	border-bottom-color: #000;
}
fieldset table{
  width: auto;
  border: none;
}
fieldset th, fieldset td{
	background: #fff;
	line-height: 2em;
	color: #000;
text-align: left;
	border: none;
}
fieldset th{
	font-weight: bold;
}
fieldset table.doubletbl td{
	border: 1px solid #E8e8e8;
}
fieldset table.doubletbl td.none{
	border: 1px solid #E8e8e8;
	border-width: 0px 0px 0px 0px;
	width: 50px;
}
tr.darker td{
  background: #e5e5bb;
}
tr.dark td{
  background: #e8e8e8;
}
.required {
	background: #fff url(required.gif) top right no-repeat;
}
.invalid {
	background: #fff url(wrong.gif) top right no-repeat;
	color: red;
}
select.required {
	background: #fff url(required.gif) top left no-repeat;
}
select.invalid {
	background: #fff url(wrong.gif) top left no-repeat;
	color: red;
}
.card-photo {
	margin: 0.5em;
	border: 1px solid #E8e8e8;
	padding: 1em;
	height: 80px;
}
.card-photo img {
	border: 1px solid #c0c0c0;
	padding: 2px;
	float: left;
	margin-right: 3em;
}
#down2 img, #down a img {
	float: right;
	margin: 5px 10px 5px 2em;
	border: none;
}
#down2 img.normal {
	float: none;
	margin: 2px 3px 0 3px;
	display: inline;
}
.dir {
	background: #F7F7F7;
	display: block;
	width: 12em;
	float: left;
	overflow: hidden;
	margin: 2px;
	height: 18px;
	line-height: 18px;
}
.dir a {
	display: block;
	float: left;
	border: 1px solid #e8e8e8;
	background: #fff;
	margin-right: 2px;
	margin-top: 1px;
}
.dir a:hover {
	border: 1px solid #c0c0c0;
}
img.butt {
	border: none;
	margin-top: 1px;
}

.galerie img {
	margin: auto;
}
.block {
	height: 98px;
	width: 98px;
	margin: 3px;
	border: 1px solid threedface;
	text-align: center;
	behavior: url(assets/hover.htc );
}
.block a img {
	border: 0 none;
}
.mezi {
	border: 0 none;
	font-size: 3px;
	height: 3px;
}
.block:hover, .block.hover {
	background-color: #ffc;
}
.edit {
	font-size: 9pt;
	font-family: "MS Sans Serif", Geneva, sans-serif;
	padding-top: 3px;
}
.edit a img {
	border: 0 none;
	vertical-align: bottom;
}
#menu a.admins {
	background: url('./users.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.admins:hover {
	background: #ffdf4e url('./usershover.gif') no-repeat 3px center;
}
#menu a.users {
	background:  url('./admins.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.users:hover {
	background: #ffdf4e url('./adminshover.gif') no-repeat 3px center;
}
#menu a.groups {
	background:  url('./groups.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.groups:hover {
	background: #ffdf4e url('./groupshover.gif') no-repeat 3px center;
}
#menu a.products {
	background:  url('./kos.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.products:hover {
	background: #ffdf4e url('./koshover.gif') no-repeat 3px center;
}
#menu a.rubriky {
	background:  url('./rubriky.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.rubriky:hover {
	background: #ffdf4e url('./rubrikyhover.gif') no-repeat 3px center;
}
#menu a.akce {
	background:  url('./akce.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.akce:hover {
	background: #ffdf4e url('./akcehover.gif') no-repeat 3px center;
}
#menu a.time {
	background:  url('./time.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.time:hover {
	background: #ffdf4e url('./timehover.gif') no-repeat 3px center;
}
#menu a.question {
	background:  url('./question.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.question:hover {
	background: #ffdf4e url('./questionhover.gif') no-repeat 3px center;
}
#menu a.emaily {
	background:  url('./emaily.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.emaily:hover {
	background: #ffdf4e url('./emailyhover.gif') no-repeat 3px center;
}
#menu a.content {
	background:  url('./content.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.content:hover {
	background: #ffdf4e url('./contenthover.gif') no-repeat 3px center;
}
#menu a.blog {
	background:  url('./blog.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.blog:hover {
	background: #ffdf4e url('./bloghover.gif') no-repeat 3px center;
}
#menu a.foto {
	background:  url('./foto.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.foto:hover {
	background: #ffdf4e url('./fotohover.gif') no-repeat 3px center;
}
#menu a.home {
	background:  url('./home.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.home:hover {
	background: #ffdf4e url('./homehover.gif') no-repeat 3px center;
}
#menu a.downloads {
	background:  url('./download.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.downloads:hover {
	background: #ffdf4e url('./downloadhover.gif') no-repeat 3px center;
}
#menu a.calender {
	background:  url('./calender.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.calender:hover {
	background: #ffdf4e url('./calenderhover.gif') no-repeat 3px center;
}
#menu a.servis {
	background:  url('./service.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.servis:hover {
	background: #ffdf4e url('./servicehover.gif') no-repeat 3px center;
}
#menu a.phone {
	background:  url('./phone.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.phone:hover {
	background: #ffdf4e url('./phonehover.gif') no-repeat 3px center;
}
#menu a.case {
	background:  url('./case.gif') no-repeat 3px center;
	padding-left: 23px;
}
#menu a.case:hover {
	background: #ffdf4e url('./casehover.gif') no-repeat 3px center;
}
p.counting span, p.counting a{
  display: block;
  float:left;
  margin-right: 1.6px;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
  border: 1px solid #9496af;

}
p.counting span{
     background: #e5e5bb;
}
p.counting a:hover{
   background: #e5e5bb;
}

.prehled a img{
 border: 0px solid #e7e7e7;

 float: left;
 margin-top: 2px;
}
.prehled img.left{
margin-top: 2px;
 float: left;
}
.prehled a:hover img{
 border: 0px solid #c0c0c0;
}
span.pages {
 font-weight: bold;
 width: 8em;
 display: block;
 float: left;
 margin-right: 1em;
}
a.pages, a.now{
 display: block;
 float: left;
 border: 1px solid #c0c0c0;
 width: 1.5em;
 height: 1.5em;
 text-align: center;
 margin-right: 2px;
 margin-bottom: 0.5em;
}
a:hover.pages{
 background: #e7e7e7;
}
a.now{
 border: 1px solid #000;
}
#thumbnails fieldset{
 display: block;
 width: 140px;
 float: left;
 text-align: center;
 margin: 5px;
}

.prehledReakce{
 display: none;
 padding-bottom: 1em;
}
.prehled em {
   display: inline-block;
   width: 10em;
   font-style: normal;
   padding: 0 0.1em 0 3px;
   overflow: hidden;
   line-height: 1.4em;
   height: 1.4em;
   height: 22px;
   line-height: 22px;
     float: left;
}
.prehled em.long {
   width: 20em;
}
h4 {
	COLOR: #656565;
	display: block;
	font-size: 100%;
	margin-top: 0.5em;
	background: #ebe9ea url('../pictures/help.gif') no-repeat left top;
	font-weight: normal;
	width: 565px;
	padding: 15px 10px 10px 30px;
	border: 1px solid #c0c0c0;
	margin: 10px 0 10px 5px;
}
h4.helpthis{
	background: #ebe9ea url('../pictures/help.gif') no-repeat left top;
	width: 23px;
	height: 23px;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 10px;
}
fieldset span.helph4{
	display: block;
	font-size: 100%;
	background: #ebe9ea url('../pictures/help.gif') no-repeat left top;
	font-weight: normal;
	position: absolute;
	width: 300px;
	padding: 15px 10px 10px 30px;
	border: 1px solid #c0c0c0;
	z-index: 1000;
	bottom: 20px;
	left: 620px;
}

#pp a{
 display: block;
 width: 62px;
 height: 95px;
 floaT: left;
 text-align: center;
 background: url('../images/underpp.jpg') no-repeat left bottom;
 margin-right: 5px;
 cursor: pointer;
}
#pp p{
 display: block;
 margin-top: 0;

}
#pp a img{
 border: 0px solid #fff;
 text-decoration: none;
}

#pp a:hover{
 text-decoration: none;
}
#pp a:hover p{
 text-decoration: underline;
}
.service{
 float: right;
 width: 60px;
 margin-top: -1em;
 margin-bottom: -1em;
}
fieldset .service .movedown, fieldset .service .moveup, fieldset .service .deletefld{
 background: url('../images/down.jpg') no-repeat left top;
 padding: 0 0 0 35px;
 line-height: 35px;
 display: block;
}
fieldset .service .moveup{
 background: url('../images/up.jpg') no-repeat left top;
}
fieldset .service .deletefld{
 background: url('../images/delete.png') no-repeat left top;
}
fieldset a:hover{
 text-decoration: none;
}
fieldset .service a:hover{
 cursor: pointer;
}
a:hover{
 text-decoration: none;
}
#menu a.active{
 background-color: #E5EFFD;
	color: #00ACEE;
}
#menu a.active:hover{
 background-color: #E5EFFD;
	color: #000;
}
#menu{
 /*font-weight: bold;*/
 }
form.inphoto fieldset{
 padding: 5px;
 border: 2px solid red;
}
#noTextIco{
 display: none;
 padding: 25px 70px;
 background: url('../images/warning.png') no-repeat left top;

}
.miniwarning{
 padding-left: 50px;
 background: url('../images/miniwarning.png') no-repeat 10px 10px;

}
div span.red{
 float: none;
 display: inline;
 width: auto;
 color: red;
 margin: 0;
}
h5.hmImg{
  background-image: url('../images/hmImgSmall.jpg');
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.prehled a{
  float: left;


}
fieldset{
 position: relative;
}
em.nextposs {
 padding-left: 25px;
 background: url('../pictures/miniadd.jpg') no-repeat left top;
 cursor: pointer;
 line-height: 18px;
 display: block;
 margin-top: 1em;

}
a.deleteq{
 background: url('../pictures/deleteq.jpg') no-repeat left top;
}
a.up{
 background: url('../pictures/up.jpg') no-repeat left top;
}
a.down{
 background: url('../pictures/down.jpg') no-repeat left top;
}
a.nextqest{
 background: url('../pictures/miniadd.jpg') no-repeat left top;
  cursor: pointer;
}
a.nextqest, a.up, a.down, a.deleteq{
 display: block;
 height: 18px;
 width: 20px;
 float: right;
 padding-left: 0;
}
.pruhledne {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
}

/* ala poptavky */

form.mini select{
 font-size: 9px;
}
.prehled em a{
 text-decoration: none;
}
.prehled em{
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.w12{
 display: block;
 float: left;
 width: 12em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.w13{
 display: block;
 float: left;
 width: 13em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.w6{
 display: block;
 float: left;
 width: 6em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;

}
.prehled em.w5{
 display: block;
 float: left;
 width: 5em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.w4{
 display: block;
 float: left;
 width: 4em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.w3{
 display: block;
 float: left;
 width: 3em;
 overflow: hidden;
 border-lefT: 1px solid #e7e7e7;
}
.prehled em.last{
 border-lefT: 1px solid #e7e7e7;
}
.head{
 background: #00ACEE;
 color: #fff;
}
.mouse{
  cursor: pointer!important;
}
.grey{
 color: #c0c0c0!important;
 text-decoration: underline!important;
}
.prehled em.nobo{
 border: 0px!important;
}
.send, .sendreal{
 background: #e7e7e7;
 color: #000;
  cursor: pointer;

  border-left: 1px solid #fff!important;
}
.sendreal{
  border-left: 1px solid #fff!important;
}
.send:hover{
   color: #fff;
   background: #808080;
}
.sendreal:hover{
   color: #fff;
   background: red;
}
.mouse:hover{
 text-decoration: underline;
}
.prehled a{
  text-decoration: none;
}
.prehled em.help{
 background: #e7e7e7;
 cursor: help;
}
#login
{
	text-align: center;
	height: 150px;
 width: 250px;
 margin-left: 35%;
margin-top: 5%;
  padding: 20px; 0 0 0;
 background: #EEEEEE;
}
#login form
{
	margin: 0 auto;
	padding: 20px 1px 0 0;
	width: 170px;
  height: 130px;
	background: transparent url('../pictures/login.jpg') no-repeat left top;
	text-align: right;

}
#login form label
{
	float: left;
	display: block;
	margin-right: 0;
}
#login form input
{
  border: 1px solid #c0c0c0;
  width: 88px;
  .width: 87px;
  margin: 2px 7px 2px 2px;
  _margin: 1px 6px 1px 1px;
  	margin-left: 10px;
  	float: left;

}
#login form input.button, #login form input.submit
{
  width: 90px;
  color: #fff;
  padding: 0;
  line-height: normal;
  background: #0066B3 url('../pictures/buttonz.jpg') repeat-x left 50%;
  border: 1px solid #0066B3;
}
#login fieldset{
 width: 170px;
border: none;
 background: transparent;
 padding: 0;
 margin: 0;

}
#login label{
width:4em;

margin: 0;
}
#login h1{
 margin: -20px -20px 20px -20px;
}
.mainclr{
 clear: both;
 margin: 0;
 padding: 0;
 font-sizE: 0px;
 line-height: 0px;
 height: 0px;

}
 a:hover em.clickable{
  background: #ff9b1b;

}
 a:hover em.clickable2{
  background: #00c000;
 color: #fff;
 cursor: pointer;
}
 a:hover em.clickable3{
  background: red;
 color: #fff;
 cursor: pointer;
}
input.none{
 padding: 0;
 margin: 0;
 width: 0;
 border: 1px solid red;
}
.label{
 clear: left;
 position: relative;
 text-align: left;
 border-bottom: 1px solid #e7e7e7;
 height: auto;
 min-height: 2em;
 height: 2em;
 padding-bottom: 2px;
 padding-top: 2px;
 z-index: 1;
}
.label2{
 clear: left;
 text-align: left;
 border-bottom: 1px solid #e7e7e7;
 height: auto;
 min-height: 2em;
 height: 2em;
 padding-bottom: 2px;
 padding-top: 2px;
 z-index: 1;
}
.rightlabel{
 float: right;
 width: 40%;

 text-align: left;
 border-left: 1px solid #e7e7e7;
 height: auto;
 min-height: 1.8em;
 height: 1.8em;
 padding-bottom: 2px;
 padding-top: 2px;
 padding-left: 1em;
 z-index: 1;
}
label{
  display: block;
  width: 12em;
  float: left;
  z-index: 0;
   position: relative;
}
input{
z-index: 0;
   position: relative;

}
em.newhelpme{
  position: absolute;
  bottom: -10px;
  left: 560px;
  display: none;
  margin: 0;
  float: left;
  z-index: 1000;
  width: 250px;
  cursor: help;
  background: #efefef;
  padding: 10px;
  border: 2px solid #c0c0c0;
}

h3.notsofar{
  left: 260px;
}
.imghelp{
 cursor: help;
}
h3.helpme{
color: #656565;
  display: none;
font-size: 100%;
background: #ebe9ea url(../pictures/help.gif)  no-repeat  left top;
font-weight: normal;

padding: 15px  10px  10px 30px;
border: 1px solid #c0c0c0;
margin: 10px  0pt 10px  5px;
clear: left
}
h3.itext{
 clear: both;
}
.adminbanner{
 background: #fff;
 border: 3px solid #e7e7e7;
}

.overlay fieldset
{
	width: auto;
}
#loading, #not_found, #results
{
	display: none;
}
.hotel_item, .room_item
{
	clear: both;
	margin: 2px;
	padding: 5px;
	background: #f2f2f2;
	border: solid 1px #ccc;
	cursor: pointer;
}
.hotel_item h2, .room_item h2
{
	margin: 0 5px 5px 5px;
	font-size: 110%;
}
.hotel_item img
{
	margin: 3px;
}
.hotel_item p, .room_item p
{
	margin: 0 5px 5px 5px;
	color: #666;
}

.overlay legend
{
	position: absolute;
	top: -3.2em;
	.top: -1.5em;
	left: -1.7em;
	.left: 0px;
	margin: 0;
	padding: 0 1em;
	width: 13em;
	font-size: 120%;
	line-height: 1.5em;
	background: #d9e7fb;
	border-top: 1px solid #00ACEE;
}

.price_table
{
	float: left;
	margin: 10px;
	border-collapse: collapse !important;
}
.price_table th,.price_table td
{
	padding: 0;
	width: 3em !important;
	height: 3em !important;
	text-align: center;
	vertical-align: middle;
}
.price_table a, .price_table span
{
	display: block;
	height: 3.4em !important;
	line-height: 3.4em !important;
	text-decoration: none;
	font-size: 0.85em;
	border: solid 1px #fff;
}
.price_table a:hover
{
	background: #fff !important;
	border: solid 1px #000;
}
.price_table, .price_table tr, .price_table th, .price_table td
{
	border: 0 !important;
}
.price_table td
{
	/*border: solid 1px #fff !important;*/
}

.price_table td.fill
{
	background: #f8f8f8;
}
.price_table a.fill, .fill
{
	background: #E7E7E7;
}
.price_table a.free, .free
{
	background: #E6FFE5;
}
.price_table a.semifull, .semifull
{
	background: #FECE9E;
}
.price_table a.full, .full
{
	background: #FFBBBD;
}

.clear
{
	clear: both;
	height: 0;
	font-size: 0;
	border: 0;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.none
{
	display: none !important;
}
.middle
{
	vertical-align: middle;
}
.no_border
{
	border: 0;
}
em.header, p.header {
   display: inline-block;
   font-style: normal;
   overflow: hidden;
   line-height: 1.4em;
   height: 1.4em;
   height: 22px;
   line-height: 22px;
   float: left;
   color: #fff;
   background: #808080;
   padding: 0 0.1em 0 3px;
   border-left: 1px solid #e7e7e7;
   margin-top: 0;
}
 em.headerplus {
   display: inline-block;
   font-style: normal;
   overflow: hidden;
   line-height: 1.4em;
   height: 1.4em;
   height: 22px;
   line-height: 22px;
   float: left;
   color: #fff;
   background: #808080;
   padding: 0 0.1em 0 8px;
}
.label p{
 line-height: 2em;
}
.newsubmit{
 width: 180px;
 .width: auto;
 position: fixed;
 right: 35px;
 top: 100px;
}
.newsubmit input{
 width: 180px;
}
 body:nth-of-type(1)  h5, legend{
 top: -1.5em;
  left: 0em;
}
p.znaks { background: #e7e7e7; width: 90px; float: left; margin: 1px 0 0 0; padding: 0 2px; line-height: 20px; height: 20px;}
p.znaks span { float: right; width: 50px }
p.znaksmax { padding: 0 2px 0 5px; line-height: 20px; height: 20px; margin: 1px 0 0 0px;}

.plus {
 display: block;
 margin-bottom: 30px;
 margin-top: -30px;
}
a.plus{
  cursor: pointer;
  border: #e7e7e7;
  background: #f7f7f7;
  width: 145px;
  height: 15px;
  font-size: 10px;
   -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-align: center;
line-height: 15px;
color: #c0c0c0;
}

a.pages {
	display: block;
	float: left;
	padding: 3px 5px;
	margin-right: 2px;
	border: 0px solid  #fff;
	margin-top: 0em;
  line-height: 1.2em;
}
a.now {
	display: block;
	float: left;
	padding: 3px 5px;
	margin-right: 2px;
	border: 1px solid  #fff;
	margin-top: 0em;
  line-height: 1.2em;
  background: #00ACEE;
  color: #fff;
}
.pager, .pagerrim, .pagerselected {
	display: block;
	float: left;
	margin-left: 2px;
	padding: 0.2em 20px;
	min-width: 1em;
	width: auto!important;
	height: 2.5em;
	line-height: 2.5em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #00ACEE;
	background: #eaf6fa;
	font-size: 10px;
	border: 1px solid #00ACEE;
}
.pagerrim {
	width: auto!important;
	padding: 0.2em 0.5em 0.2em 0.5em;
		height: 1em;
			line-height: 1em;
}
.pagerselected {               
	color: #fff;
	background: #00ACEE url("../images/easysub.jpg") repeat-x;
}
a.pager:hover, a.pagerrim:hover {
	color: #908560 !important;
	background: #FFF1B8 url("../images/easysub.jpg") repeat-x;
	width: auto!important;
}
.pageraround{
  clear: both;
  margin-top: 1em
}

a.nonep, a.wait,a.ok,a.ko{ display: block; background: #c0c0c0; color: #fff; padding: 0 6px; margin : 2px 2px }
a.ok{  background: #a1dd85; color: #fff }
a.ko{  background: #f8989a; color: #fff }
a.nonep {  background: transparent; color: #fff }