/*basics*/
html, body
{
	min-height: 100%;
	height: auto !important;
	height: 100%
}
body
{
	margin: 10px auto 0px auto;
	text-align: center;
	font-family: Tahoma, Helvetica, "Helvetica CE", Arial, lucida, sans-serif;
	font-size: 75.01%;
	color: #404040;
	background: #fff;
}
img
{
	margin-top: 1px;
	border: none;
}

/*comprimation*/
#left_full ul, #left_bar li, #left_small ul, #left_small li, #client_area ul, #client_area li, #project_area ul
, #project_area li, #work_area ul, #work_area li, #template_area ul, #template_area li, #right_fill ul, .info_actions ul
, .info_clients ul, .info_templates ul, #user_detail fieldset, #user_detail form
{
	margin: 0;
	padding: 0;
}
form, h2, h3, h4, #adresar, #adresar li, .agenda_legend h3, .agenda_legend p, .agenda_legend, #right_fill ul li a input.inadress
{
	margin: 0;
}
body, fieldset, #adresar, #adresar li
{
	padding: 0;
}
#header img, #menu a, #menu2 a, #login form label, #overlay_form fieldset label, #overlay_form fieldset input
, #overlay_form form #client_area, #overlay_form form #project_area, #overlay_form form #work_area
, #overlay_form form #template_area, #client_area li, #project_area li, #work_area li, #template_area li, .day, .hours
, .detail, .day_headline, .detail_headline, .day .border a, .detail .border a, #adresar li.action a, #user_detail b
, #reporty fieldset
{
  float: left;
}
#menu a, #menu2 a, #tabbed_menu a, #tabbed_menu span, #login form label, #overlay_form fieldset, #overlay_form fieldset label
, #client_area li, #project_area li, #work_area li, #template_area li, #client_area li a, #project_area li a
, #work_area li a, #template_area li a, .color_hint span, .day .border, .hours span, .detail .border, .day .border a
, .detail .border a, .day .border .input_container, .detail .border .input_container, .agenda_row a
, #right_fill ul li a label, .info_actions ul li a, .info_clients ul li a, .info_templates ul li a, #adresar, #adresar li
, #adresar li a, #adresar li.action a, #user_detail b, #reporty fieldset
{
	display: block;
}
a:hover, #menu a, #menu2 a, #tabbed_menu a, #tabbed_menu span, #client_area li a, #project_area li a, #work_area li a
, #template_area li a, .day .border a, .detail .border a, .agenda_row a, .info_actions ul li a, .info_clients ul li a
, .info_templates ul li a
{
	text-decoration: none;
}
#left_full .padding, #left_small .padding, #overlay_form .padding, #right_fill, #overlay_form, #overlay_form fieldset
, .agenda_legend, #user_detail, #overlay_prices
{
	padding: 10px;
}
#client_area li, #project_area li, #work_area li, #template_area li, #right_fill ul, .info_actions ul, .info_clients ul
, .info_templates ul, #adresar, #adresar li
{
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
}

/*common styling*/
fieldset
{
  margin: 2em 1em;
  border: 0;
}
legend
{
	padding-left: 1em;
	padding-right: 1em;
}
input, select, textarea
{
	padding: 1px;
 	background: #f2f2f2;
 	border: 1px solid #c0c0c0;
}
textarea
{
	font-family: Tahoma, Helvetica, "Helvetica CE", Arial, lucida, sans-serif;
	font-size: 1em;
}
input.button, input.submit
{
  color: #fff;
  background: #dd7613 url('../images/button.jpg') repeat-x left 50%;
  border: 1px solid #dd7613;
}
input.chbox, #document_search fieldset input.chbox
{
	display: inline;
	width: 15px;
	border: none;
}
a, a.visited, a.active
{
	color: #404040;
}
h2
{
	padding-left: 13px;
	font-size: 1.2em;
  line-height: 1.8em;
  color: #dd7613;
  background: #fff;
  border: 0 solid #c0c0c0;
	border-bottom-width: 1px;
}
h3
{
	font-size: 1em;
  color: #EA8900;
}
h3 span
{
  color: #c0c0c0;
}
h4
{
	font-size: 1.1em;
}
p
{
	font-size: 0.9em;
}
em
{
 font-style: normal;
}

/*layout*/
#wrapper
{
	margin: 0 auto;
	width: 917px;
	_width: 920px;
	height: auto;
	min-height: 550px;
	_height: 550px;
	text-align: left;
}
#header
{
  height: 54px;
}
#menu
{
  height: 33px;
  line-height: 33px;
  background: #fff url('../images/menu_bgr.gif') repeat-x left 25%;
}
#menu a
{
  height: 26px;
  line-height: 26px;
  border-top: 7px solid #C0C0C0;
  color: #fff;
  padding: 0 1em;
  margin-right: 1px;
}
#menu a.right
{
  float: right;
  margin-left: 1px;
}
#menu a:hover
{
  background: #ea8900;
  border-top-color: #dd7613;
}
#menu2
{
  height: 1.65em;
  line-height: 1.65em;
  background: #EEF0ED ;
  border: 0 solid #C0C0C0;
  border-bottom-width: 1px;
}
#menu2 a
{
  height: 1.65em;
  line-height: 1.65em;
  color: #404040;
  padding: 0 1em;
  margin: 0 1px 0 0;
}
#menu2 a:hover
{
	color: #000;
  background: #C0C0C0;
}

#content
{
	height: 400px;
  background: #EEF0ED;
  border: 0 solid #c0c0c0;
  border-bottom-width: 0.5em;
}
#tabbed_menu
{
  float: right;
  font-size: 0.9em;
  margin-top: -1.8em;
  .margin-top: -1.85em;
}
#tabbed_menu a, #tabbed_menu span
{
  padding: 0 0.5em;
  float: right;
  margin: 0 1px 0 1px;
  border: 1px solid #c0c0c0;
  background: #EEF0ED;
}
#tabbed_menu a
{
  color: #404040;
  background: #DDDDDD;
}
#tabbed_menu a:hover
{
  text-decoration: underline;
}
#tabbed_menu a:hover, #tabbed_menu span
{
	background: #F2F2F2;
}
#tabbed_menu span
{
	border-bottom: solid 1px #f2f2f2;
}
#tabbed_menu, #tabbed_menu a, #tabbed_menu span
{
	height: 1.65em;
  line-height: 1.65em;
}

#main
{
	padding: 0.5em;
}
#work
{
  height: 360px;
  margin: 0px 265px 0px 0px;
  _margin: 0px 260px 0px 0px;
	background: #fff url("../images/c0.gif") top right repeat-y;
	_background: #fff;
}
#right
{
	float: right;
	width: 260px;
	height: 360px;
  _height: 363px;
  background: #F2F2F2 url("../images/c0.gif") top right repeat-y;
  _background: #F2F2F2;
}
#work, #right
{
	border: 1px solid #c0c0c0;
  border-right-width: 0px;
  _border-right-width: 1px;
}
#right_fill
{
	position: relative;
	height: 340px;
	_height: 340x;
	overflow: auto;
}

#left_bar
{
	height: 24px;
}
#left_full
{
	height: 360px;
  _height: 363px;
}
#left_small
{
	height: 336px;
	_height: 339px;
}
#left_full, #left_small
{
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	width: 638px;
	_width: 641px;
}

#overlay
{
	background: #e7e7e7;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index: 100;
}
#overlay_content
{
	_left: 0px;
	.left: 0px;
	margin: 0px auto;
	text-align: left;
	z-index: 101;
}
#overlay, #overlay_content, .agenda_legend
{
	display: none;
	position: absolute;
	top: -5000px;
	overflow: hidden;
}
#overlay, #overlay_content
{
	width: 100%;
}
#overlay_form
{
	position: relative;
	margin: 0px auto;
	width: 780px;
	background: #fff;
	border: solid 6px #C0C0C0;
}
#overlay_form fieldset
{
	position: relative;
	width: 758px;
	border: 1px solid #e7e7e7;
  margin: 10px 0;
  _margin: 10px 0 0 0;
}
#overlay_form fieldset label
{
  font-weight: bold;
	width: 2em;
	line-height: 1.5em;
}
#overlay_form fieldset select
{
	width: 100%;
}
#overlay_form fieldset div
{
	width: 98%;
	margin: -5px 0 0 0;
	.margin: 0;
	padding: 0;
	overflow: auto;
	position: absolute;
}
#desc
{
	width: 98%;
}
#overlay_form .padding
{
	padding-bottom: 0;
}
.overlay_hide, .overlay_hide.link, .overlay_hide.visited, .overlay_hide.active
{
	float: right;
	font-weight: bold;
	text-decoration: none;
	color: #f00;
}
#overlay_form form #client_area, #overlay_form form #project_area, #overlay_form form #work_area
, #overlay_form form #template_area
{
	width: 165px;
	margin-right: 10px;
	margin-top: 0px;
	_height: 40px;
}
#overlay_form form #work_area
{
	margin-right: 11px;
}
#overlay_form form #template_area
{
	margin-right: 0px;
}
#client_area li, #project_area li, #work_area li, #template_area li
{
	clear: left;
	width: 97%;
	.width: 100%;
	_width: 160px;
	margin: 0 0 3px 0;
	padding: 1px;
	height: 1.5em;
	line-height: 1.5em;
	border: solid 1px #c0c0c0;
	overflow: hidden;
}
#client_area li a, #project_area li a, #work_area li a, #template_area li a
{
	padding: 0 0 0 5px;
}
#client_area li a:hover, #project_area li a:hover, #work_area li a:hover, #template_area li a:hover
{
	background: #c0c0c0;
}
#client_area li a.selected, #project_area li a.selected, #work_area li a.selected, #template_area li a.selected
{
	background: #c0c0c0;
	color: #fff;
}
#client_area select, #project_area select, #work_area select, #template_area select
{
	clear: left;
}
.clear
{
	clear: both;
	font-size: 0px;
	height: 1px;
}
.invalid
{
	color: #f00;
}
.required
{
	background: #f2f2f2 url("../images/required.gif") top right no-repeat;
}
.noborder
{
	border: none;
	background: none;
}
.right
{
	float: right;
}
.v_al_top
{
	vertical-align: top;
}
.help, .day_headline, .detail_headline
{
	cursor: help;
}
.help
{
	cursor: help;
	border-bottom: dashed 1px #999;
}
.day, .hours, .detail, .day_headline, .detail_headline
{
	width: 78px;
	margin: 2px 0px 0px 2px;
	border: 0px solid #c0c0c0;
	border-bottom-width: 1px;
}
.day, .hours, .detail, .weekday
{
	background: #e7e7e7;
}
.detail, .detail_headline
{
	width: 558px;
}
.hours
{
	width: 50px;
}
.weekend
{
	background: #d6d6d6;
}
.day .border, .hours span, .detail .border
{
	clear: left;
	height: 27px;
	font-size: 90%;
	line-height: 27px;
	text-align: center;
	border: 1px solid #c0c0c0;
	border-bottom-width: 0px;
}
.day .border a, .detail .border a
{
	margin: 1px;
	width: 15px;
	_width: 14px;
  height: 23px;
  line-height: 23px;
	font-size: 80%;
	font-weight: bold;
	border: solid 1px #c0c0c0;
	overflow: hidden;
}
.detail .border a
{
	width: 135px;
	_width: 134px;
}
.day .border a:hover, .detail .border a:hover
{
	color: #333;
	background: #c0c0c0;
}
.day .border .input_container, .detail .border .input_container
{
	height: 27px;
	overflow: hidden;
}
.quarter_selected
{
	color: #fff;
	background: #dd7613;
}
.hours h4, .day_headline h4, .detail_headline h4
{
	padding: 4px 0 0 0;
	font-size: 85%;
	height: 16px;
	text-align: center;
	color:  #ea8900;
}
.hours h4
{
	background: #d5d5d5;
}
.agenda_row
{
	position: absolute;
	margin: 2px;
	_margin-left: 4px;
	padding: 0px;
	height: 25px;
	_height: 23px;
}
.agenda_row a
{
	height: 23px;
	border: solid 1px #c0c0c0;
	text-align: right;
}
.agenda_row a img
{
	margin: 10px 1px 0px 0px;
	_margin: 8px 1px 0px 0px;
}
.has_note
{
	background-image: url("../images/corner.gif");
	background-position: top right;
	background-repeat: no-repeat;
}
.agenda_legend
{
	top: 0px;
	width: 220px;
	height: 180px;
	background: #fff;
	border: solid 6px #C0C0C0;
	overflow: hidden;
}
.agenda_legend h3, .agenda_legend p
{
	padding: 2px 0px 2px 0px;
}
.list_color
{
	border-width: 0px;
	border-left-width: 27px;
	border-style: solid;
}

#right_fill h3
{
	color: #ea8900;
	font-size: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#right_fill ul, .info_actions ul, .info_clients ul, .info_templates ul
{
	position: relative;
}
.info_actions ul li, .info_clients ul li, .info_templates ul li
{
	border: 1px solid #c0c0c0;
	margin: 0px 0px 2px 0px;
}
#right_fill ul li a label
{
	cursor: pointer;
	.margin-top: -10px;
}
#right_fill .info_templates ul li a label
{
	.margin-top: 0px;
}
#right_fill ul li a input.inadress
{
	position: absolute;
	margin-left: -30px;
	.margin-left: -35px;
	margin-right: 10px;
	border: 0px solid red;
	background: transparent;
}
.info_actions ul li a, .info_clients ul li a, .info_templates ul li a
{
	position: relative;
	padding: 0.5em 0px 0.5em 10px;
	border-width: 0px;
	border-left-width: 27px;
	border-style: solid;
	color: #404040;
}
.info_actions ul li a:hover, .info_clients ul li a:hover, .info_templates ul li a:hover
{
   background: #fff;
}
#adresar, #adresar li
{
	clear: left;
}
#adresar li a
{
	padding: 0 0 1px 0px;
	text-decoration: none;
}
#adresar li.action a
{
	width: 78%;
/* Admin ma v rightboxu v users_help tri ikony, takze je treba zkratit jmeno, u ostatnich to ale bude zbztecne kratke - IFoval bych */
  width: 170px;
	padding: 2px 0 3px 0px;
	line-height: 1.3em;
	overflow: hidden;
}
#adresar li a.active
{
	color: #008000;
}
#adresar li a.inactive
{
	color: #666;
}
#adresar li a:hover
{
	text-decoration: underline;
}
#adresar li form
{
	float: right;
}
#adresar li form input
{
	color: transparent;
	background: transparent;
	border: none;
}

/*drop box users*/
#user_detail b
{
	width: 17em;
}
#user_detail p
{
  margin: 0;
  line-height: 2.5em;
  padding: 0 2em;
  display: block;
  height: 2.5em;
}

#user_detail input
{
	_margin-top: 0.2em;
}
#user_detail p.dark, .project_list td.dark
{
 	background: #efefef;
}
h3.user
{
	margin-bottom: 1em;
}
#reporty
{
	margin-left: 20px;
}
#reporty fieldset
{
	width: 175px;
	_width: 170px;
	border: 1px solid #c0c0c0;
	padding: 5px;
	margin-bottom: 0.5em;
	height: auto;
	min-height: 30px;
	_height: 30px;
	margin-right: 1em;
	margin-left: 0px;
	margin-top: 0.9em;
}
#reporty fieldset.small_margin
{
	margin-bottom: 0em;
}
#reporty select
{
	width: 175px;
	_width: 170px;
}
#reporty legend
{
	color: #EA8900;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
#reporty select.short
{
  width: 45px;
}
#reporty input.date
{
  width: 100px;
}
#reporty small
{
	margin-top: 3px;
}
#reporty input.button
{
	margin-left: 10px;
	clear: left;
}
#overlay_prices
{
	margin: 0px auto;
	margin-top: 15px;
	width: 300px;
	background: #fff;
	border: solid 6px #C0C0C0;
}
#overlay_prices input, #overlay_prices label
{
	margin-bottom: 2px;
}
.project_list
{
	width: 100%;
	border-collapse: collapse;
}
.project_list th, .project_list td
{
	font-size: 0.9em;
	line-height: 2em;
	text-align: left;
}
.bg_transparent
{
	background: transparent;
}
.color_transparent
{
	color: transparent;
}
.border_color_transparent
{
	border-color: #F2F2F2;
}
#selection_length, #selection_item
{
	height: 1.2em;
}
#selection_info
{
	height: 80px;
}