body {
	background: #fff;
	padding: 1em;
	text-align: left;
	font-size: 70.01%;
	color: #1B1B1F;
	font-family: Verdana, Helvetica, "Helvetica CE", Arial, lucida, sans-serif;
}
h2{ 
  color: #F5921A;
  font-size: 130%;
}
h3 {
  font-size: 105%;
  height: 2em;
  line-height: 2em;
  border-left:  3px solid #F5921A;
  padding-left: 1em;
}