html, body {
	font-family: sans-serif;
	color: #404040;
	font-size: 85.1%;
}
a {
	color: #0881B8;
}
a:hover {
	color:  #404040;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
	text-align: left
}
pre {
	font-size: 13px;
}
h1 {
	font-size: 170%;
	margin: 0 0 0.5em 0;
	color: #1C8EC0;
		font-weight: normal;
}
h2 {
	font-size: 140%;
		color: #6AB5D5;
				font-weight: normal;
}
h3 {
	font-size: 110%;

	color: #000;	
}
h4 {
	font-size: 110%;
	margin-bottom: 0;
	margin-top: 0;
}
h5 {
	margin: 0;
}
#sidebox h2 {
	font-size: 150%;
}
#sidebox h3 {
	font-size: 130%;
}
#sidebox h4, #sidebox h5 {
	font-size: 120%;
	margin-top: 0em;
	font-weight: bold;
  padding: 3px 0;

}
h1, h2 {
}
h3, h4 {
	color: #404040;
}
#sidebox h4 a{
 font-weight: normal;
 font-size: 90%;
}
.imgleft, #content div .left, img.left {
	float: left;
	margin: 0 1em 1em 0;
	padding: 4px;
	border-right: 2px solid #EDEDED;
	border-bottom:  2px solid #EDEDED;
	border-top: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
	text-align: center;
	background: #fff;
	position: relative;
}
.imgright, #content div .right, img.right {
	float: right;
	margin: 0 0 1em 1em;
	padding: 4px;
	border-right: 2px solid #EDEDED;
	border-bottom:  2px solid #EDEDED;
	border-top: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
	text-align: center;
	background: #fff;
}
.imgcontainer img {
	float: none!important;
	border: none!important;
	margin: 2px auto!important;
	padding: 0!important;
	padding: 0px;
	position: relative;
}
#text td {
	vertical-align: top;
}
ul {
	list-style-type: square;
}
#content li {
	color:  #6AB5D5;
}
#content li span, #content li label {
	color: #404040;
}
form {
	margin: 0;
	padding: 0;
}
fieldset {
	border: none;
}
#content #text  a.gal img {
	float: left;
	padding: 1px;
	border-width: 1px;
	border-color: #bbbbbb;
	margin: 5px 5px 0 0;
	background: #fff;
	width: 95px;
	padding: 5px;
}
.imggal {
	margin-top: 1em;
}
.video, #map_canvas2 {
	padding: 1px;
	border-width: 1px;
	border-color: #bbbbbb;
	margin: 0 1em 0 0;
	background: #fff;
	padding: 5px;
	float: left;
}
.videoright, #map_canvas2right {
	floaT: right;
	padding: 1px;
	border-width: 1px;
	border-color: #bbbbbb;
	margin: 1em 0 0 1em;
	background: #fff;
	padding: 5px;
}
.mainclr {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	font-size: 0;
 
 
}
table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #e7e7e7;
}
table {
	border: 3px solid #efefef;
}
th, td {
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}
th.myname {
	background: #DFE5E8;
	
}
table.vedeni{
width: 550px;
}
#content  ul, #content li {
	margin-left: 0;
	padding: 0;
}
#content ul {
	margin-left: 1.5em;
}
#content #sidebox a.new_window_link img, #content a.new_window_link img, img.downimg, #map_canvas img {
	border: none!important;
	padding: 0!important;
	background: transparent!important;
}
.downs {
 
	padding: 5px;
	margin-top: 5px;
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px solid #E0EEF6;
	
	
	 background: #ECF4F7;
 border: 1px solid #E4E4E2;
 padding: 10px;

 -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#sidebox .downs {
	display: block;
	float: none;
	 width: 208px;
}
#map_canvas {
	border: 2px solid #404040;
	overflow: hidden;
	margin: 1em 0;
}
.sbmenu {
	margin-top: 0px;
}
.banner {
	border: 1px solid red;
}
p.odpaly {
	margin: 10px 15px;
}
#content #text .ref fieldset p {
	margin: 10px;
}
.required {
	background: #fff url('../images/required.gif') top right no-repeat;
}
.invalid {
	background: #F9E9DB url('../images/wrong.gif') top right no-repeat;
	color: red;
}
select.required {
	background: #fff url('../images/required.gif') top left no-repeat;
}
select.invalid {
	background: #fff url('../images/wrong.gif') top left no-repeat;
	color: red;
}
a.pages {
	display: block;
	float: left;
	padding: 3px 5px;
	margin-right: 2px;
	border: 1px solid #e7e7e7;
	margin-top: 1em;
}
a.now {
	display: block;
	float: left;
	padding: 3px 5px;
	margin-right: 2px;
	border: 1px solid #e7e7e7;
	background: #BDD38A;
	color: #fff;
	margin-top: 1em;
	text-decoration: none;
	cursor: text;
}
.articlesclr {
	clear: both
}
#sidebox input.button, #sidebox .box2 input.button, #sidebox .pparts  input.button, #content .pparts input.button {
	background: #B61F1E;
	border: 1px solid #c0c0c0;
	color: #fff;
	width: 205px;
	.width: 208px;
	height: 25px;
	padding: 3px 0;
	font-size: 14px;
	.margin-lefT: -10px;
}
.pparts {
	cleaR: both;
	margin:  1em 0 0  0;
}
.pparts .mainclr {
	height: 1em;
}
/* forum */
.msgs {
	width: 490px;
	font-size: 11px;
	background: #efefef;
	margin-bottom: 4px;
}
.namemsg {
	width: 480px;
	padding: 5px;
	background: #e2e2e2;
}
.txtmsg {
	width: 480px;
	padding: 5px;
}
#forumad {
	background: #A0CFE4;
	padding: 5px;
	width: 480px;
}
#forumad textarea {
	width: 450px;
	border: 1px solid #c0c0c0;
	overflow: auto;
	font-family: sans-serif;
	color: #515e5d;
	font-size: 11px;
}
#forumad input {
	border: 1px solid #c0c0c0;
	font-family: sans-serif;
	color: #515e5d;
	font-size: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#forumad #sendmsg {
	margin-top: 3px;
	float: right;
	margin-right: 3px;
	background: #13242B;
	padding: 2px 3px;
	color: #fff;
	border: 1px solid #13242B;
}
.pager, .pagerrim, .pagerselected {
	display: block;
	float: left;
	margin-left: 2px;
	padding: 0.1em;
	min-width: 1.2em;
	width: auto!important;
	height: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #A0CFE4;
	background: #D7EEF7;
}
.pagerrim {
	width: auto!important;
	padding: 0.1em 0.2em 0.1em 0.2em;
}
.pagerselected {
	color: #fff;
	background: #A0CFE4 url("../images/easysub.jpg") repeat-x;
}
a.pager:hover, a.pagerrim:hover {
	color: #fff !important;
	background: #A0CFE4 url("../images/easysub.jpg") repeat-x;
	width: auto!important;
}
p.right{
text-align: right;
}
table.noborder, table.noborder tr, table.noborder td{
 border: none;
 padding-left: 0px;
}
table.noborder h3{
 margin: 0;
 font-size: 120%
}
table.noborder td.txt p{
 margin: 0;
 padding: 0 0 0.3em 0;
}
