* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  background: #404040
}



#loglogo {
  grid-area: logo;
  background: #000;
  text-align: left;
  color: rgb(240, 240, 240);
  padding: 0 35px 0 35px;
  line-height: 60px;
  padding-left: 50px;
  background-image: url('../images/hand.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
 
}


#sidebar, footer, #logo  {
  display: none;
}

#login {
  width:  auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  padding: 20px 30px;
  transform: translate(-50%, -50%)
}
.btn-primary{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
 
}
.btn-primary:hover{
  color: #fff;
  background-color: #106f7e;
  border-color: #106f7e;
 
}
.input-group-prepend, .input-group-text {
  min-width: 80px; 
}
#login div {
  margin-bottom: 5px;
}
.field-icon {
  margin: 0px;
  position: relative;
  line-height: 24px;
}
.input-group-prepend, .input-group-text {
  min-width: 75px;
}
#forget {
  color: #17a2b8;
  float: right;
  margin-top: -40px;
}